{
    "port": 8080,
    "keyStorageDir": "keys",
    "enableSignatureChecks": true,
    "logAllDatabase": true,
    "queryLifetime": 1000,
    "leafNodes": [
        {
            "ip": "X.X.X.X",
            "port": 1234
        }
    ],
    "neighbors": [
        {
            "ip": "X.X.X.X",
            "port": 1234
        }
    ],
    "strategy": 0
}
